<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魔幻電競館</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/all.css">
</head>
<body>  
    <div id="vue_index" class="container">
        <div class="header">
          <div class="bars">
            <div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="search">
          </div>
          <div class="header-left d-flex">
            <div class="logo">
              <!-- <a href="https://www.flaticon.com/free-icons/shapes-and-symbols" title="shapes and symbols icons">Shapes and symbols icons created by rizal2109 - Flaticon</a> -->
              <a href="index.html">
                <img src="./pics/logo.png" alt="首頁logo" />
              </a>
            </div>
            <div class="products-menu">
              <ul class="d-flex">
                <li>
                  <a href="#">
                    Extremely cool
                  </a>
                </li>
                <li>
                  <a href="#">
                    Gaming Pc
                  </a>
                </li>
                <li>
                  <a href="#">
                    Gaming Mobile
                  </a>
                </li>
                <li>
                  <a href="#">
                    Platinum Xt 
                  </a>
                </li>
                <li>
                  <a href="#">
                    E-Support
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-right">
            <div class="multi-function-menu">
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                  <p class="all-micros">您可能感興趣的商品</p>
                  <img
                    class="angle-down"
                    src="./pics/angle-down-solid.svg"
                    alt="下拉式選單icon"
                  />
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <ul>
                    <li>
                      <a class="span" href="#"><p>軟體</p></a>
                      <a href="#">
                        <p>應用程式</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool</p>
                      </a>
                      <a href="#">
                        <p>Outlook</p>
                      </a>
                      <a href="#">
                        <p>Skype</p>
                      </a>
                      <a href="#">
                        <p>OneNote</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Teams</p>
                      </a>
                    </li>
                    <li>
                      <a class="span" href="#">
                        <p>電競電腦與設備</p>
                      </a>
                      <a href="#">
                        <p>選購Extremely cool</p>
                      </a>
                      <a href="#">
                        <p>電競電腦配件</p>
                      </a>
                    </li>
                    <li>
                      <a class="span" href="#"><p>娛樂</p></a>
                      <a href="#">
                        <p>Extremely cool Pass Ultimate</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool 與遊戲</p>
                      </a>
                      <a href="#">
                        <p>電腦遊戲</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool 遊戲</p>
                      </a>
                    </li>
                    <li>
                      <a class="span" href="#"><p>商務適用</p></a>
                      <a href="#">
                        <p>Extremely cool Cloud</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Azure</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Dynamics 365</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool 365</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Industry</p>
                      </a>
                      <a href="#">
                        <p>選購商務版</p>
                      </a>
                    </li>
                    <li>
                      <a class="span" href="#"><p>Developer & IT</p></a>
                      <a href="#">
                        <p>.NET</p>
                      </a>
                      <a href="#">
                        <p>Visual Studio</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Server</p>
                      </a>
                      <a href="#">
                        <p>開發 Extremely cool 應用程式</p>
                      </a>
                      <a href="#">
                        <p>文件</p>
                      </a>
                      <a href="#">
                        <p>Power Platform</p>
                      </a>
                      <a href="#">
                        <p>Power Apps</p>
                      </a>
                    </li>
                    <li>
                      <a class="span" href="#">
                        <p>其他</p>
                      </a>
                      <a href="#">
                        <p>Extremely cool Rewards</p>
                      </a>
                      <a href="#">
                        <p>免費下載與安全性</p>
                      </a>
                      <a href="#">
                        <p>教育</p>
                      </a>
                      <a href="#">
                        <p>禮品卡</p>
                      </a>
                      <a href="#">
                        <p>Licensing</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tooltip">
                <div class="tooltip-inner d-flex magnifying-glass">
                  <p>搜尋</p>
                  <a href="#">
                    <img class="tooltip-img" src="./pics/scope.png" alt="放大鏡" />
                    <span class="tooltiptext">Extremely cool.com</span>
                  </a>
                </div>
              </div>
              <div class="tooltip">
                <div class="tooltip-inner d-flex">
                  <p>購物車</p>
                  <a href="#">
                    <img class="tooltip-img" src="./pics/cart.png" alt="購物車" />
                    <span class="tooltiptext">0個項目在購物車中</span>
                  </a>
                </div>
              </div>
              <div class="tooltip">
                <div class="tooltip-inner d-flex">
                  <p>登入</p>
                  <a href="#">
                    <img class="tooltip-img" src="./pics/login_logo.svg" alt="登入" />
                    <span class="tooltiptext">Chienniman的帳戶管理員</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="swiper">
          <div class="swiper-wrapper">
            <div v-for="pic in swiper"  class="swiper-slide slide slide-lg">
              <img :src="pic.img_path" :alt="pic.img_alt_text" />
              <div class="swiper-text">
                <span>{{pic.span}}</span>
                <h2>{{pic.name}}</h2>
                <div class="text">
                  <p>{{pic.text}}</p>  
                </div>
                <div class="more">
                  <a href="#">
                    深入了解 >
                  </a>
                </div>
              </div>
              <div class="swiper-md-text">
                <div>
                  <span>{{pic.span}}</span>
                <div class="h2">
                  <h2>{{pic.name}}</h2>
                </div>
                <div class="text">
                  <p>{{pic.text}}</p>  
                </div>
                <div class="more">
                  <a href="#">
                    深入了解 >
                  </a>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="onestore">
          <div class="logo_groups d-flex">
            <a href="#">
            <div class="logo_wrapper">
              <div class="img_wrapper">
                <img src="./pics/onestore_icon/computer.png" alt="電競電腦">
                <!-- <a href="https://www.flaticon.com/free-icons/simple" title="simple icons">Simple icons created by iconnut - Flaticon</a> -->
              </div>
              <div class="discription">
                電競電腦
              </div>
            </div>
          </a>
          <a href="#">
            <div class="logo_wrapper">
              <div class="img_wrapper">
                <!-- <a href="https://www.flaticon.com/free-icons/ipad" title="ipad icons">Ipad icons created by Freepik - Flaticon</a> -->
                <img src="./pics/onestore_icon/ipad.png" alt="電競平板">
              </div>
              <div class="discription">
                 電競平板
              </div>
            </div>
          </a>
          <a href="#">
            <div class="logo_wrapper">
              <div class="img_wrapper">
                <!-- <a href="https://www.flaticon.com/free-icons/headset" title="headset icons">Headset icons created by Freepik - Flaticon</a> -->
                <img src="./pics/onestore_icon/headset.png" alt="電競配件">
              </div>
              <div class="discription">
                電競配件
              </div>
            </div>
          </a>
          </div>
          <div class="logo_md_group">
            <ul>
              <li>
                <div>
                  <a href="#">
                    <div class="logo">
                      <div class="logo_img">
                        <!-- <a href="https://www.flaticon.com/free-icons/simple" title="simple icons">Simple icons created by iconnut - Flaticon</a> -->
                        <img src="./pics/onestore_icon/computer.png" alt="電競電腦" style="width: 20px ;height:20px;">
                      </div>
                      <div class="logo_text">
                        <p>選擇您的電競電腦</p>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div>
                  <a href="#">
                    <div class="logo">
                      <div class="logo_img">
                          <!-- <a href="https://www.flaticon.com/free-icons/ipad" title="ipad icons">Ipad icons created by Freepik - Flaticon</a> -->
                        <img src="./pics/onestore_icon/ipad.png" alt="電競平板" style="width: 20px ;height:20px;">
                      </div>
                      <div class="logo_text">
                        <p>選購電競平板</p>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div>
                  <a href="#">
                    <div class="logo">
                      <div class="logo_img">
                        <!-- <a href="https://www.flaticon.com/free-icons/headset" title="headset icons">Headset icons created by Freepik - Flaticon</a> -->
                        <img src="./pics/onestore_icon/headset.png" alt="電競配件" style="width: 20px ;height:20px;">
                      </div>
                      <div class="logo_text">
                        <p>選擇您的電競配件</p>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>  
        </div>
        <div id="computer_card" class="card_wrapper">
          <div v-for="card in computer_card" class="card">
            <div class="card_img">
              <img :src=card.img_path :alt=card.img_alt_text>
            </div>
            <div class="card_body">
              <span class="yellow">{{card.span}}</span>
              <div class="card-text">
                <h2>{{card.name}}</h2>
                <p>{{card.text}}</p>
                <a href="#">
                  {{card.link}}>
                </a>
              </div>
            </div>
          </div>
        </div>
        <section id="onedrive">
          <div>
            <div  class="microsoft_onedrive_img">
              <img class="onedrive_img" :src="img_path" :alt="title" style="width: 100%;">
              <div class="microsoft_onedrive_text">
                <div>
                  <div>
                    <h2 class="title">
                      {{title}}
                    </h2>
                  </div>
                  <div class="link">
                    <a href="#">
                      {{link}} >
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </section>
        <div id="computer_card" class="card_wrapper business_use">
          <div v-for="card in computer_card2" class="card">
            <div class="card_img">
              <img :src=card.img_path :alt=card.img_alt_text>
            </div>
            <div class="card_body">
              <span class="yellow">{{card.span}}</span>
              <div class="card-text">
                <h2>{{card.name}}</h2>
                <p>{{card.text}}</p>
                <a href="#">
                  {{card.link}}>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="social_media" class="social_media d-flex">
          <div>在社群媒體上關注我們</div>
          <ul class="icons d-flex">
            <li>
              <a href="#">
                <!-- <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by Pixel perfect - Flaticon</a> -->
                <img src="./pics/socials/instagram.png" alt="instagram">
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a> -->
                <img src="./pics/socials/facebook.png" alt="facebook">
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Pixel perfect - Flaticon</a> -->
                <img src="./pics/socials/twitter.png" alt="twitter">
              </a>
            </li>
          </ul>
        </div>
        <footer id="footer">
          <ul class="footer_links">
            <li class="links">
              <ul class="news">
                <!-- <a href="https://www.flaticon.com/free-icons/gaming" title="gaming icons">Gaming icons created by Flat Icons - Flaticon</a> -->
                <li class="title">
                  電競商品
                  <img src="./pics/footer_icons/gaming.png" alt="電競商品" style="width: 32px;">
                </li>
                <li>
                  <a href="#">
                    極限電腦
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競筆電
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競手機
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競耳機
                  </a>
                </li>
                <li>
                  <a href="#">
                    超大曲面螢幕
                  </a>
                </li>
                <li>
                  <a href="#">
                    微型電競電腦
                  </a>
                </li>
              </ul>
            </li>
            <li class="links">
              <ul class="news">
                <!-- <a href="https://www.flaticon.com/free-icons/mouse" title="mouse icons">Mouse icons created by Flat Icons - Flaticon</a> -->
                <li class="title">
                  電競配件
                  <img src="./pics/footer_icons/wireless-mouse.png" alt="電競配件" style="width: 32px;">
                </li>
                <li>
                  <a href="#">
                    螢幕保護貼
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競版行動電源
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競滑鼠墊
                  </a>
                </li>
                <li>
                  <a href="#">
                    電源供應器
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競主機板
                  </a>
                </li>
                <li>
                  <a href="#">
                    電競散熱卡
                  </a>
                </li>
              </ul>
            </li>
            <li class="links">
              <ul class="news">
                <!-- <a href="https://www.flaticon.com/free-icons/support" title="support icons">Support icons created by Freepik - Flaticon</a> -->
                <li class="title">
                  相關服務
                  <img src="./pics/footer_icons/customer-service.png" alt="相關服務" style="width: 32px;">
                </li>
                <li>
                  <a href="#">
                    電腦維修
                  </a>
                </li>
                <li>
                  <a href="#">
                    手機維修
                  </a>
                </li>
                <li>
                  <a href="#">
                    產品註冊
                  </a>
                </li>
                <li>
                  <a href="#">
                    虛擬主機
                  </a>
                </li>
                <li>
                  <a href="#">
                    聯絡我們
                  </a>
                </li>
                <li>
                  <a href="#">
                    維修進度
                  </a>
                </li>
              </ul>
            </li>
            <li class="links">
              <ul class="news">
                <li class="title">
                  關於我們
                  <svg style="width:32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"/></svg>
                </li>
                <li>
                  <a href="#">
                    最新消息
                  </a>
                </li>
                <li>
                  <a href="#">
                    企業社會責任
                  </a>
                </li>
                <li>
                  <a href="#">
                    徵才資訊
                  </a>
                </li>
                <li>
                  <a href="#">
                    投資資訊
                  </a>
                </li>
                <li>
                  <a href="#">
                    獎項
                  </a>
                </li>
                <li>
                  <a href="#">
                    常見問題集
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </footer>
      </div>
      <div class="copyright">
        Copyright ©2022簡柏毅 此網站僅供本人作為作品集使用，無任何商業用途
      </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/vue.js"></script>  
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="./js/index.js"></script>
    <script type="module">
        var swiper = new Swiper(".swiper", {
          spaceBetween: 30,
          centeredSlides: true,
          effect: "fade",
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
</body>
</html>